.header
{
 width: 100%;
 background-color: blueviolet;

}

.heading
{
    color:aliceblue;
    padding: 15px;
}

:root {
    --teel: #2ec1ac;
    --teal_hover: #279e8c;

}

div.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;

}

* {
    font-family: 'Poppins', sans-serif;
}

.h-font {
    font-family: 'Merienda', cursive;
}

.custom-bg {
    background-color: var(--teel);
    border: 1px solid var(--teel);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
